@page
@using ZimskaLiga.Models
@using ZimskaLiga.services


<html>
<head>

    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    <h1>trenutno ste na @ViewBag.Placment . mestu</h1>
    <h1> Vaš čas je @ViewBag.TimeUser</h1>


    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Uvrstitev</th>
                <th scope="col">Tekmovalci</th>
                <th scope="col">Čas</th>
            </tr>
        </thead>
        @foreach (var LoginModel in ViewBag.LoginModels)
        {
            <tr>
                <td>@LoginModel.uvrstitev</td>
                <td>@LoginModel.UserName</td>
                <td>@(LoginModel.castekmovalca.ToString())</td>
            </tr>
        }
    </table>
</body>
</html>